<ion-header>
  <ion-toolbar>
    <ion-title>แก้ไขรหัสผ่าน</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-item-group>
        
        <ion-label fixed text-center>รหัสผ่าน</ion-label>
        <br>
        <ion-item lines="none" class ="itemform">
          <ion-input type="password" placeholder="รหัสผ่านเดิม"></ion-input>
        </ion-item>
        <br>
      </ion-item-group>
      
      
      <ion-item-group class="block-div">
        <br>
        <ion-label fixed text-center>รหัสผ่านใหม่</ion-label>
        <br>
        <ion-item lines="none" class ="itemform">
          <ion-input type="password" placeholder="รหัสผ่านใหม่"></ion-input>
        </ion-item>
        <br>
      </ion-item-group>
      
      
      <ion-item-group class="block-div">
        <br>
        <ion-label fixed text-center>ยืนยันรหัสผ่านใหม่</ion-label>
        <br>
        <ion-item lines="none" class ="itemform">
          <ion-input type="password" placeholder="ยืนยันรหัสผ่าน"></ion-input>
        </ion-item>
        
      </ion-item-group>
    
      <br>
      <div align="center">
          <ion-row>
            <ion-col size="6">
              <ion-button ion-button color="success" (click)="okay()" expand="full">ยืนยัน</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button ion-button color="danger" (click)="closeModal()" expand="full">ยกเลิก</ion-button>
            </ion-col>
          </ion-row>
          
        
      </div>

      

    </ion-card-content>
  </ion-card>
  
  
</ion-content>
