<ion-header>
  <ion-toolbar>
    <ion-title>
      หน้าแรก
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>ยินดีต้อนรับสู่ระบบบริหารจัดการข้อมูลขยะของมหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตเฉลิมพระเกียรติ จังหวัดสกลนคร</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <img src="/assets/ku.csc.jpg" alt="" style="display: block; margin-left: auto; margin-right: auto; width:100%;"/>
      </ion-card-content>
    </ion-card>
 
</ion-content>
