.block-div {
    border-style: ridge;
    border-width: 1px 0px 0px 0px;
    /* margin-top: 5px; */
}

.itemform {
    border: 1px solid #b1b1b1;
    border-radius: 10px;
    background: rgb(219, 219, 219);
    height: auto;
    width: auto;
}
.itemform2 {
    border: 1px solid #b1b1b1;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
}
